.page-introduction-messages {
  text-align: center;
  margin: auto;

  .page-subtitle {
    min-height: 80px;
  }
}

.messages {
  padding: 100px 150px;
  position: absolute;
  width: 100%;
  min-height: calc(100vh - 384px); // 384 height of nav and intro

  .messages-background {
    background-image: url(../images/messages-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    max-height: 980px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    animation: animation-fadein 1s forwards;
    animation-delay: 1s;
  }

  .message-item {
    animation: animation-fadein 1s forwards;
    position: absolute;
    background: none;
    cursor: pointer;
    border: none;
    opacity: 0;

    &:focus {
      outline: none;
    }

    img {
      width: 100%;
    }
  }
}

button[class*="message-button"] {
  font-weight: 700;
  transition: 0.2s;
  border: none !important;
  color: #000000 !important;
  box-shadow: none !important;
  background: none !important;
  opacity: 0;
  animation: animation-fadein 1s forwards;
  animation-delay: 1s;

  &:hover {
    opacity: 0.5;
  }

  &[class*='--yellow'] {
    text-shadow: 0 0 1px black;
    color: $yellow !important;
    margin-left: -100px;
    position: fixed;
    bottom: 20px;
    width: 200px;
    left: 50%;
  }
}

.modal {
  .modal-dialog {
    position: absolute;
    max-width: unset;
    width: 600px;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -300px;

    .modal-content {
      background-image: url('../images/messages-letter.png');
      padding: 70px 100px 90px 90px;
      background-repeat: no-repeat;
      background-size: contain;
      height: 800px;
      border: none;

      textarea.final {
        background: transparent;
        outline: none;
        border: none;
        width: 100%;
        height: 600px !important;
      }

      .button-group {
        position: fixed;
        right: -150px;
        top: 40%;

        [class*='button--'] {
          @extend a;
          cursor: pointer;
          display: block;
          float: right;

          &[class*='close'] {
            margin-top: 15px;
          }
          &[disabled='disabled'] {
            cursor: not-allowed;
            color: $gray-light;
            &:hover { opacity: 1; }
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
.modal-backdrop {
  background-color: #ffffff;
  &.show {
    opacity: 1;
  }
}

.success-image {
  display: none;

  .success-image-background {
    z-index: 1050; // 1040 is modal background
    background: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  [class*='success-image-start'] {
    z-index: 1051; // 1040 is modal background
    position: absolute;
    margin-left: -80px;
    width: 160px;
    left: 50%;
    top: 45%;
    display: none;
  }
  .success-image-final {
    z-index: 1051; // 1040 is modal background
    transform: rotate(-5deg);
    position: absolute;
    animation: animation-fadein 1s forwards;
    animation-delay: 5s;
    margin-left: -50px;
    width: 100px;
    opacity: 0;
    left: 50%;
    top: 47%;
  }
}