html, body {
  font-family: 'Lora', serif;
  line-height: 150%;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  font-weight: 700;
  transition: 0.2s;
  color: #000000;

  &:hover {
    text-decoration: none;
    color: #000000;
    opacity: 0.5;
  }
}

p {
  font-size: 0.9em;
}

.my-container {
  padding: 0 150px;
  max-width: 100%;
  width: 100%;
}

// 2018 ver of clearfix
.group:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding: 20px 50px;
  font-size: 0.75em;
  color: $gray;
}