.nav-container {
  position: sticky;
  z-index: 1;
  top: 0;

  //&:before {
  //  background-color: #ffffff;
  //  position: absolute;
  //  filter: blur(5px);
  //  content: '';
  //  z-index: 0;
  //  bottom: 0;
  //  right: 0;
  //  left: 0;
  //  top: 0;
  //}

  .nav {
    position: relative;
    float: right;
    z-index: 1;

    .nav-link {
      padding: 30px;
      color: #000000;

      &.active {
        color: $yellow;
      }
    }
  }
}