@import url(https://fonts.googleapis.com/css?family=Lora:400,700);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, .modal .modal-dialog .modal-content .button-group [class*='button--'], abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: 'Lora', serif;
  line-height: 150%;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
}

a, .modal .modal-dialog .modal-content .button-group [class*='button--'] {
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #000000;
}

a:hover, .modal .modal-dialog .modal-content .button-group :hover[class*='button--'] {
  text-decoration: none;
  color: #000000;
  opacity: 0.5;
}

p {
  font-size: 0.9em;
}

.my-container {
  padding: 0 150px;
  max-width: 100%;
  width: 100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding: 20px 50px;
  font-size: 0.75em;
  color: #878787;
}

@-webkit-keyframes animation-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-introduction {
  margin-top: 40px;
  min-height: 300px;
}

.page-introduction .page-icon {
  height: 50px;
}

.page-introduction .page-title {
  margin: 20px 0 30px 0;
  font-weight: 700;
  font-size: 2.5em;
}

.page-introduction .page-subtitle {
  position: relative;
  min-height: 100px;
  padding: 0;
}

.page-h2 {
  font-weight: 700;
  font-size: 1.5em;
}

.timeline {
  padding: 1000px 300px 815px 300px;
  margin-bottom: 100vh;
  position: relative;
  color: #ffffff;
}

.timeline .timeline-background {
  background-image: url(../images/timeline-bg-full.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.timeline .timeline-line {
  border-right: 1px solid #FFDB2B;
  height: calc(100% - 895px);
  position: absolute;
  top: 1010px;
  left: 50%;
}

.timeline .timeline-item-container {
  position: relative;
  opacity: 0;
}

.timeline .timeline-item-container .timeline-item {
  margin-bottom: 100px;
  padding: 0 0 0 80px;
}

.timeline .timeline-item-container .timeline-item:before {
  background-image: url("../images/timeline-dot.png");
  background-size: contain;
  position: absolute;
  height: 20px;
  content: "";
  width: 20px;
  left: -10px;
  top: 5px;
}

.timeline .timeline-item-container .timeline-item.left {
  padding: 0 80px 0 0;
  text-align: right;
}

.timeline .timeline-item-container .timeline-item.left:before {
  left: unset;
  right: -10px;
}

.timeline .timeline-item-container .timeline-item.center {
  text-align: center;
}

.timeline .timeline-item-container .timeline-item .yellow {
  font-weight: 700;
  color: #FFDB2B;
  display: block;
  margin: 0 0 10px 0;
}

.timeline .timeline-item-container .timeline-item .bold {
  font-weight: 700;
  display: block;
  margin: 5px 0;
}

.timeline .timeline-item-container img {
  position: absolute;
}

.timeline .timeline-conclusion {
  top: calc(100% + 150px);
  margin-left: -300px;
  text-align: center;
  position: absolute;
  color: #000000;
  width: 600px;
  left: 50%;
}

.timeline .timeline-conclusion:before {
  background-image: url("../images/timeline-dot.png");
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  background-size: contain;
  position: absolute;
  height: 20px;
  content: "";
  width: 20px;
  left: 315px;
  top: -45px;
}

.timeline .timeline-conclusion > p {
  margin: 20px 0;
}

.timeline .timeline-conclusion img {
  margin: 0 auto 30px auto;
  position: static;
  display: block;
}

.timeline .timeline-conclusion img:last-of-type {
  margin: 70px auto 10px auto;
  width: 70px;
}

.nav-timeline {
  opacity: 0;
  -webkit-animation: animation-fadein 1s forwards;
          animation: animation-fadein 1s forwards;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.page-introduction-timeline .page-icon {
  opacity: 0;
  -webkit-animation: animation-fadein 1s forwards;
          animation: animation-fadein 1s forwards;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.page-introduction-timeline .page-title {
  opacity: 0;
  height: 20px;
  -webkit-animation: animation-fadein 2s forwards;
          animation: animation-fadein 2s forwards;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.timeline-background {
  opacity: 0;
  -webkit-animation: animation-fadein 1s forwards;
          animation: animation-fadein 1s forwards;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.animation-fadein {
  -webkit-animation: animation-fadein 0.25s;
          animation: animation-fadein 0.25s;
}

[class*='source-container'] {
  margin: 20px 0 50px 0;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

[class*='source-container'][class*='--other'] {
  -webkit-column-count: 1;
          column-count: 1;
}

[class*='source-container'] [class*='source--'] {
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  position: relative;
  margin: 10px 0;
  display: block;
  width: 100%;
}

[class*='source-container'] [class*='source--'] .source-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 15px;
  height: 125px;
  width: 200px;
  float: left;
}

[class*='source-container'] [class*='source--'] .source-author, [class*='source-container'] [class*='source--'] .source-date, [class*='source-container'] [class*='source--'] .source-description {
  font-weight: 500;
  font-size: 0.85em;
  line-height: 125%;
}

[class*='source-container'] [class*='source--'] .source-title {
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 10px;
}

[class*='source-container'] [class*='source--'][class*='other'] {
  padding: 20px 0 20px 0;
}

[class*='source-container'] [class*='source--'][class*='other']:after {
  border-top: 1px solid #D5D5D5;
  position: absolute;
  width: 100%;
  content: "";
  bottom: 0;
}

[class*='source-container'] [class*='source--'][class*='other']:last-of-type:after {
  display: none;
}

[class*='source-container'] [class*='source--'][class*='other'] .source-image {
  background-size: contain;
  height: 50px;
}

.page-sources-footer {
  background-image: url("../images/sources-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  color: #ffffff;
  height: 300px;
}

.page-sources-footer > p {
  position: absolute;
  bottom: 20px;
}

.page-introduction-messages {
  text-align: center;
  margin: auto;
}

.page-introduction-messages .page-subtitle {
  min-height: 80px;
}

.messages {
  background-color: #000000;
  padding: 100px 150px;
  position: absolute;
  width: 100%;
  min-height: calc(100vh - 384px);
}

.messages .messages-background {
  background-image: url(../images/messages-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  max-height: 980px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-animation: animation-fadein 1s forwards;
          animation: animation-fadein 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.messages .message-item {
  -webkit-animation: animation-fadein 1s forwards;
          animation: animation-fadein 1s forwards;
  position: absolute;
  background: none;
  cursor: pointer;
  border: none;
  opacity: 0;
}

.messages .message-item:focus {
  outline: none;
}

.messages .message-item img {
  width: 100%;
}

button[class*="message-button"] {
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none !important;
  color: #000000 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: none !important;
  opacity: 0;
  -webkit-animation: animation-fadein 1s forwards;
          animation: animation-fadein 1s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

button[class*="message-button"]:hover {
  opacity: 0.5;
}

button[class*="message-button"][class*='--yellow'] {
  text-shadow: 0px 0px 1px black;
  color: #FFDB2B !important;
  margin-left: -100px;
  position: fixed;
  bottom: 20px;
  width: 200px;
  left: 50%;
}

.modal .modal-dialog {
  position: absolute;
  max-width: unset;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -300px;
}

.modal .modal-dialog .modal-content {
  background-image: url("../images/messages-letter.png");
  padding: 90px 100px 90px 90px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  border: none;
}

.modal .modal-dialog .modal-content textarea.final {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 600px !important;
}

.modal .modal-dialog .modal-content .button-group {
  position: fixed;
  right: -150px;
  top: 40%;
}

.modal .modal-dialog .modal-content .button-group [class*='button--'] {
  cursor: pointer;
  display: block;
  float: right;
}

.modal .modal-dialog .modal-content .button-group [class*='button--'][class*='close'] {
  margin-top: 15px;
}

.modal .modal-dialog .modal-content .button-group [class*='button--'][disabled='disabled'] {
  cursor: not-allowed;
  color: #D5D5D5;
}

.modal .modal-dialog .modal-content .button-group [class*='button--'][disabled='disabled']:hover {
  opacity: 1;
}

.modal .modal-dialog .modal-content .button-group [class*='button--']:focus {
  outline: none;
}

.modal-backdrop {
  background-color: #ffffff;
}

.modal-backdrop.show {
  opacity: 1;
}

.success-image {
  display: none;
}

.success-image .success-image-background {
  z-index: 1050;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.success-image [class*='success-image-start'] {
  z-index: 1051;
  position: absolute;
  margin-left: -80px;
  width: 160px;
  left: 50%;
  top: 45%;
  display: none;
}

.success-image .success-image-final {
  z-index: 1051;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  position: absolute;
  -webkit-animation: animation-fadein 1s forwards;
          animation: animation-fadein 1s forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  margin-left: -50px;
  width: 100px;
  opacity: 0;
  left: 50%;
  top: 47%;
}

.nav-container {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

.nav-container .nav {
  position: relative;
  float: right;
  z-index: 1;
}

.nav-container .nav .nav-link {
  padding: 30px;
  color: #000000;
}

.nav-container .nav .nav-link.active {
  color: #FFDB2B;
}
